[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shameed965
[access "refs/for/refs/*"]
	read = group user/shameed965
	push = group user/shameed965
	label-Code-Review = -2..+2 group user/shameed965
	label-Verified = -1..+1 group user/shameed965
	rebase = group user/shameed965
	removeReviewer = group user/shameed965
	submit = group user/shameed965
[access "refs/heads/*"]
	read = group user/shameed965
	create = group user/shameed965
	push = +force group user/shameed965
	pushMerge = group user/shameed965
[access "refs/tags/*"]
	push = +force group user/shameed965
	pushTag = group user/shameed965
	pushSignedTag = group user/shameed965
